Flask
Flask-SQLAlchemy
Flask-Login
Flask-Migrate
Flask-WTF
Werkzeug
psycopg2-binary
neo4j
google-generativeai
requests
twilio
python-dotenv
wtforms
email-validator
Markdown
xhtml2pdf
markupsafe
gunicorn
